@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color:hsl(185, 75%, 39%);
  display: flex;
    overflow: hidden;
    justify-content: center;
    font-family: 'Kumbh Sans', sans-serif;
    padding: 0;
}
.ball__top{
    position: absolute;
    width: 100%;
    height: 100%;
    left: -300px;
    top: -500px;
}
.ball__bottom{
    position: absolute;
    width: 100%;
    height: 100%;
    right: -600px;
    bottom:-600px ;
}

.card{
    height: 70vh;
    width: 50vh;
    box-shadow: 25px 25px 25px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    background: white;
    margin: auto;
    z-index: 1;
}

.card__bg{
    background: url(../images/bg-pattern-card.svg);
    background-size: cover;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    height: 35%;
    position: relative;
}
.card__img{
    border-radius: 50%;
    position: absolute;
    margin: 0;
    padding: 0;
    height: 120px;
    width: 120x;
    object-fit: cover;
    border:5px solid white;
    left:calc(50% - 60px);
    top: calc(50% + 30px);
}
.card__top{
    text-align: center;
    justify-content: center;
    margin-top: 6em;
    margin-bottom: 1em;
}
.card__bottom{
display: flex;
justify-content: space-around;
margin: 1em;
}
hr{
    color: rgba(255, 255, 255, 0.809);
}
span{
    color: hsl(0, 0%, 59%);
    font-weight: 400;
    
}
h2{
    font-weight: 700;
    margin: 0.7em;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
}
@media screen and (max-width:375px){
    body{
        height: 80vh;
        width: 100vw;
        background-color:hsl(185, 75%, 39%);
        display: flex;
        overflow: hidden;
        justify-content: center;
        font-family: 'Kumbh Sans', sans-serif;
        padding: 0;
       
    }
    .card{
        overflow: hidden;
      height: 500px;
      width: 300px;
        box-shadow: 25px 25px 15px rgba(0, 0, 0, 0.2);
        border-radius: 25px;
        background: rgb(255, 255, 255);
        position: absolute;
        left: calc(50vw - 150px);
        top: calc(50vh - 250px);

   
    }
    
}
